<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Include Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>
<body>
<div class="container-fluid">
    <h3 class="display-3">Data from stock market visualization (LOSHARA)</h3>


    <div id="contents-main">
        <div class="lead">
            <strong>Name of Corp:</strong>
            <span th:text="${name}"></span>
        </div>
            <div class="a">
                <div class="q">
                    <div>Price: <span th:text="${price}"></span></div>
                    <div>Shares: <span th:text="${sharesOut}"></span></div>
                    <div>Revenue: <span th:text="${revenue}"></span></div>
                    <div>EBITDA: <span th:text="${ebitda}"></span></div>
                    <div>Book value per share: <span th:text="${bookPerShare}"></span></div>
                    <div>Market Capital: <span th:text="${marketCap}"></span></div>
                    <div>Net Income: <span th:text="${netIncome}"></span></div>
                    <div>Total Debt: <span th:text="${totalDebt}"></span></div>
                    <div>Total Cash: <span th:text="${totalCash}"></span></div>
                    <div>P/E</div>
                    <div>P/BV</div>
                    <div>EV/S</div>
                    <div>EV/EBITDA</div>
                    <div>E</div>
                    <div>PRICE</div>
                    <div>BV</div>
                    <div>PRICE</div>
                </div>
                <div class="q">

                </div>
                <div class="q">

                </div>
            </div>

            <!--<div>: <span th:text="${}"></span></div>-->

            <!--<ul>
                <li style="list-style-type:none" v-for="player in players">
                    <player-card
                            v-bind:player="player" v-bind:key="player.id">
                    </player-card>
                </li>
            </ul>-->


    </div>
</div>

<style>
    .a{
        display:flex;
        padding: 0px;
        margin: 0px;
        width: 100%;
        height:auto;

    }
    .q{
        width: 33.33%;
        height:100%;
        flex-direction:row;
        background-color:white;
        border-left:1px solid black;
        border-bottom:1px solid black;
        text-align:center;
    }


</style>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
<script type="text/babel">

    Vue.component('player-card', {
        props: ['player'],
        template: `<div class="card">
                    <div class="card-body">
                        <h6 class="card-title">
                            {{ player.name }}
                        </h6>
                        <p class="card-text">
                            <div>
                            {{ player.description }}
                            </div>
                        </p>
                    </div>
                </div>`
    });

    var app = new Vue({
        el: '#contents',
        data: {
            players: [
                {id: "1", name: "Smth1", description: "Details of smth1"},
                {id: "2", name: "Smth2", description: "Details of smth2"}
            ]
        }
    });

</script>
</body>
</html>