.a{
    display:flex;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height:auto;

}
.q{
    width: 33.33%;
    height:100%;
    flex-direction:row;
    background-color:white;
    border-left:1px solid black;
    border-bottom:1px solid black;
    text-align:center;
}

